:root{
    --main-background : #080D18;
    --secondary-background : #0D1424;
    --card-color: #111B2E;
    --border-color: #1E2D46;
    --main-text: #F1F5F9;
    --secondary-text: #94A3B8;
    --primary-accent: #3B82F6;
    --bright-accent: #38BDF8; 
}

*{
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: var(--main-background);
    color: var(--main-text);
    font-family: sans-serif;
}
#div_top_space{
    height: 70px;
}

#div_main{
    display: flex;
    flex-direction: row;
}
#div_sidebar{
    width: 20%;
    background-color: var(--card-color);
    height: 100vh;
    overflow: auto;
    position: fixed;
}
#div_content{
    width: 80%;
    margin-left: 20%;
}

/* sections */
.section{
    margin: 10px;
    background-color: var(--card-color);
    border-radius: 10px;
    padding: 10px;
}