body{
    margin: 0;
    box-sizing: border-box;
    background-color: #eee;
    font-family: Arial, Helvetica, sans-serif;
}

#nav_bar{
    position: fixed;
    width: 100%;
    top: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5px;
    background-color: rgba(19, 15, 97, 0.82);
    color: #eee;
}
#btn_menu{
    display: none;
    border: none;
    background-color: #0467d0;
    color: #eee;
    border-radius: 5px;
}
#nav_items{
    margin-top: 10px;
}
.nav_link{
    text-decoration: none;
    color: #eee;
    padding: 10px 20px;
    transition: all 0.4s ease;
}
.nav_link:hover{
    background-color: rgba(39, 39, 161, 1);
}
.nav_icon_link{
    text-decoration: none;
    padding: 0 10px;
}
.nav_icon_link img{
    width: 40px;
    transition: 0.4s ease;
}
.nav_icon_link img:hover{
    transform: scale(1.1);
}

.section{
    width: 80%;
    margin-left: 10%;
    background-color: #f9f5f5;
    margin-top: 20px;
    /* border: 2px solid blue; */
    border-radius: 20px;
    padding: 20px;
    /* box-shadow: 0 10px 5px 0 gray; */
    transition: all 0.4s ease;
}
.section:hover{
    box-shadow: 0 4px 8px 0 gray;
}

/* common card */
.div_card{
    background-color: rgb(63, 63, 177);
    padding: 10px;
    border-radius: 10px;
    color: #efefef;
}


/* hero section */
#sec_hero{
    margin-top: 50px;
}
#img_cover_image{
    position: absolute;
    opacity: 0.3;
    border-radius: 10px;
    overflow: hidden;
}

#div_hero{
    display: flex;
    flex-direction: row;
}
#hero_content{
    font-family: Arial, Helvetica, sans-serif;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.btn_link{
    text-decoration: none;
    color: #111;
    border: 2px solid black;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.4s ease;
}
.btn_link:hover{
    background-color: rgba(20, 15, 97, 0.3);
}

#img_hero_profile{
    width: 100%;
    border-radius: 20%;
}
#hero_profile{
    width: 20%;
}

.div_title{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 10px;
}
.btn_primary{
    border: none;
    background-color: #007bff;
    color: #eee;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;transition: all 0.4s ease;
}
.btn_primary:hover{
    background-color: #0467d0;
}

/* --- skills section --- */
#sec_skills{
    margin-top: 20px;
    /* border: 2px solid blue; */
    border-radius: 20px;
    padding: 20px;
}

/* --- Image gallery --- */
.gallery {
  max-width: 800px;
  margin: auto;
  text-align: center;
}

.main-image img {
  width: 100%;
  border-radius: 10px;
  transition: opacity 0.3s ease-in-out;
  opacity: 1;
}

.main-image img.fade-out {
  opacity: 0;
}

#imageCaption {
  margin-top: 10px;
  font-size: 14px;
  color: #555;
}

.thumbnails {
  display: flex;
  gap: 10px;
  margin-top: 15px;
  justify-content: center;
  flex-wrap: wrap;
}

.thumbnails img {
  width: 100px;
  height: 70px;
  object-fit: cover;
  cursor: pointer;
  border-radius: 6px;
  opacity: 0.7;
  transition: 0.4s ease-in-out;
}

.thumbnails img:hover {
  opacity: 1;
  transform: scale(1.05);
}

.thumbnails img.active {
  border: 2px solid #007bff;
  opacity: 1;
}

/* --- footer --- */
#footer{
    position: fixed;
    bottom: 0;
    right: 5px;
    z-index: 100;
    font-size: 11px;
}

/* --- Responsive Design --- */
@media (max-width: 600px){
    /* navigation bar */
    #nav_title{
        display: block;
        justify-content: end;
        text-align: end;
    }
    #nav_ref{
        display: none;
    }
    #btn_menu{
        display: block;
    }
    #nav_items{
        display: none;
        position: fixed;
        right: 0;
        top: 0;
        margin-top: 0;
        width: 40%;
        background-color: rgba(19, 15, 97, 1);
        z-index: 300;
    }
    .nav_link{
        text-decoration: none;
        color: #eee;
        padding: 10px;
        transition: all 0.4s ease;
    }

    #img_cover_image{
        display: none;
    }
    .section{
        width: 100%;
        margin: 10px 0;
    }

    .gallery{
        width: 90%;
        margin-left: 5%;
    }
    .thumbnails{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        overflow-x: scroll;
        justify-content: start;
    }
    .thumbnails img{
        width: 60px;
        height: auto;
    }

    #sec_projects{
        display: flex;
        flex-direction: column;
    }
}/* responsive for mobile */